<!--<script src="views/public/assets/jquery/jquery.min.js"></script>-->
<!--<script src="views/public/assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="views/public/assets/nprogress/nprogress.js"></script>-->
<!--<script src="views/public/assets/artTemplate/template.js"></script>-->
<!--<script src="views/public/assets/echarts/echarts.min.js"></script>-->
<!--<script src="views/public/assets/jquery-cookie/jquery.cookie.js"></script>-->
<!--<script src="views/public/js/common.js"></script>-->

<script src="views/public/assets/requireJs/require.js"></script>
<script>
    require.config({
        baseUrl: "/views/public",
        paths: {
            "jquery": "assets/jquery/jquery.min",
            "cookie": "assets/jquery-cookie/jquery.cookie",
            "bootstrap": "assets/bootstrap/js/bootstrap.min",
            "nprogress": "assets/nprogress/nprogress",
            "template": "assets/artTemplate/template",
            "echarts": "assets/echarts/echarts.min",
            "common": "js/common",
            "login":"js/dashboard/login",
            "chart":"js/dashboard/chart"
        },
        shim: {
            bootstrap: {
                deps: ["jquery"]
            },
            echarts:{
                deps: ["jquery"]
            }
        }
    });
    require(["common"])
</script>